@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.share__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share__icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 42px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 10%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}

.share-button__back {
  background-color: #368b8b;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

.share-button__front {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

/*.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: #b6b6b6;
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}

a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.containers {
  width: 520px;
  margin: 30px 0 0 30px;
  position: absolute;
  top: 0;
  left: 0;
}


#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap");
@layer properties {
  @property --value {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
}
:root {
  --bg-grain: url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --bg-color: hsl(229deg 29% 10%);
  --glow-color-opacity: 0;
  --glow-color: oklch(82.6% 0.185 76.24 / calc(var(--glow-color-opacity) * 1%));
}

@supports (color: color(display-p3 0 0 0)) {
  :root {
    --glow-color-opacity: 100;
    --glow-color-luminance: 10;
    --glow-color-p3: 0.99 0.71 0.18;
    --glow-color: color-mix(
      in lch,
      color(
        display-p3 var(--glow-color-p3) / calc(var(--glow-color-opacity) * 1%)
      ),
      white calc(var(--glow-color-luminance) * 1%)
    );
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  background-image: radial-gradient(ellipse at 50% 0%, white, rgba(0, 0, 0, 0.4)), repeating-radial-gradient(circle at center, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) 14px, rgba(255, 255, 255, 0) 18px, rgba(255, 255, 255, 0.3) 18px, rgba(0, 0, 0, 0.6) 21px);
  font-family: "Sora", sans-serif;
  background-blend-mode: soft-light;
  background-size: 100% 100%;
  display: grid;
  place-items: center;
}
body:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, transparent 50%, rgba(7, 8, 24, 0.6));
}
body:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--bg-grain) repeat top left/300px;
  z-index: 10;
  opacity: 0.15;
  mix-blend-mode: color-dodge;
  pointer-events: none;
}

main {
  width: 500px;
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1000000px;
  background: radial-gradient(ellipse at 50% 0%, #1f1a23, #0a090c);
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
}
main *, main *:before, main *:after {
  will-change: transform, filter, background;
}
main:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  background: #131320;
  display: block;
  border-radius: inherit;
  box-shadow: inset 0 0 26px rgba(0, 0, 0, 0.8), inset 0 -4px 6px -1px rgba(255, 255, 255, 0.1);
  z-index: inherit;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
main:before {
  content: "";
  display: block;
  position: absolute;
  width: 60%;
  aspect-ratio: 1/1;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.3), 0 0 20px 2px rgba(0, 0, 0, 0.2);
  z-index: 11;
  border-radius: 100000px;
  pointer-events: none;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
main .circle-line {
  --glow-color-opacity: calc(var(--value) / 2);
  --glow-color-luminance: 70;
  --glow-color: color-mix(
    in lch,
    color(display-p3 0.99 0.71 0.18 / calc(var(--glow-color-opacity) * 1%)),
    white calc(var(--glow-color-luminance) * 1%)
  );
  position: absolute;
  width: 80.5%;
  height: 80.5%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: conic-gradient(from 0.5turn, transparent calc(100% - var(--value) * 1%), var(--glow-color) calc(100% - calc(var(--value) * 1%)));
  -webkit-mask-image: conic-gradient(from 0.5turn, black, black, transparent);
          mask-image: conic-gradient(from 0.5turn, black, black, transparent);
  border-radius: 100000px;
  transform: rotateY(180deg);
}
main .outer-glow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(calc(var(--value) * 3.6 * 1deg));
}
main .outer-glow:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 50px;
  background: var(--glow-color);
  border-radius: 100%;
  z-index: 0;
  transform: translate(240px, 500px);
  filter: blur(20px);
  mix-blend-mode: plus-lighter;
  opacity: calc(var(--value) / 100);
}
main > div.inner {
  width: 300px;
  aspect-ratio: 1/1;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
main > div.inner .halo-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 16px black, inset 0 0 8px rgba(0, 0, 0, 0.8), inset 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 100000px;
  transform: scale(1.66) rotateY(180deg);
  z-index: 5;
}
main > div.inner .halo-outer:before {
  --glow-color-opacity: calc(var(--value) / 2);
  --glow-color-luminance: 10;
  --glow-color: color-mix(
    in lch,
    color(
      display-p3 var(--glow-color-p3) / calc(var(--glow-color-opacity) * 1%)
    ),
    white calc(var(--glow-color-luminance) * 1%)
  );
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.6) rotate(calc(calc(var(--value) * 3.6 * -1deg)));
  border-radius: 100000px;
  background-color: var(--bg-color);
  background-image: radial-gradient(ellipse at 50% calc(210% + calc(var(--value)/2 * -1%)), var(--glow-color) 30%, transparent 40%), linear-gradient(to bottom right, rgba(255, 255, 255, 0.01) 45%, rgba(0, 0, 0, 0) 50%);
  z-index: 2;
  -webkit-backdrop-filter: saturate(1.5);
          backdrop-filter: saturate(1.5);
}
main > div.inner .halo-outer:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 1000000px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.1));
  transform: scale(0.6);
  z-index: 6;
  mix-blend-mode: soft-light;
}
main > div.inner .halo-outer canvas {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  border-radius: 1000000px;
  opacity: 0.05;
  pointer-events: none;
  z-index: -1;
}
main > div.inner .halo-inner {
  --glow-color-opacity: var(--value);
  --glow-color: color-mix(
    in lch,
    color(
      display-p3 var(--glow-color-p3) / calc(var(--glow-color-opacity) * 1%)
    ),
    white 20%
  );
  background: conic-gradient(from 0.5turn, transparent calc(100% - var(--value) * 1%), var(--glow-color) calc(100% - var(--value) * 1%));
  /* With all these transforms, I couldn't figure out a better
   * way to fade out the start of the gradient.
  */
/*  -webkit-mask-image: conic-gradient(from 0.5turn, black, black, transparent);
          mask-image: conic-gradient(from 0.5turn, black, black, transparent);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100000px;
  opacity: 0.7;
  transform: scale(1.66) rotateY(180deg);
  mix-blend-mode: plus-lighter;
  z-index: -1;
  filter: saturate(2);
  overflow: hidden;
}
main > div.inner .halo-inner:after {
  --current-opacity: opacity(calc(var(--value)*0.01));
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://assets.codepen.io/64/toppng.com-water-texture-water-1500x1500.png);
  background-size: 80px;
  -webkit-mask-image: conic-gradient(from 0.5turn, transparent calc(100% - var(--value) * 1%), white calc(100% - var(--value) * 1%));
          mask-image: conic-gradient(from 0.5turn, transparent calc(100% - var(--value) * 1%), white calc(100% - var(--value) * 1%));
  filter: brightness(3400%) url(#turbulence) var(--current-opacity);
  mix-blend-mode: overlay;
}
main > div.inner span {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1000000px;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.8);
  transform: rotate(calc(var(--value) * 3.6 * 1deg));
  transform-origin: center center;
}
main > div.inner span:after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 99px;
  background: #fff;
  top: 100%;
  left: 50%;
  border-radius: 0 0 2px 2px;
  z-index: -1;
  box-shadow: 0 0 calc(20px + calc(var(--value) / 10 * 1px)) calc(5px + calc(var(--value) / 6 * 1px)) var(--glow-color), inset 0 0 1px var(--glow-color), 0 0 2px 1px black;
  transform: translateX(-50%);
  transform-origin: center top;
  -webkit-animation: reveal 1s ease forwards;
          animation: reveal 1s ease forwards;
  filter: saturate(200%);
}
@-webkit-keyframes reveal {
  from {
    transform: translateX(-50%) scaleY(0);
  }
  to {
    transform: translateX(-50%) scaleY(1);
  }
}
@keyframes reveal {
  from {
    transform: translateX(-50%) scaleY(0);
  }
  to {
    transform: translateX(-50%) scaleY(1);
  }
}
main > div.inner span:before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 13%;
  background: #fff;
  top: 105%;
  left: 50%;
  z-index: -1;
  opacity: calc(var(--value) / 5);
  box-shadow: 0 0 calc(20px + calc(var(--value) / 10 * 1px)) calc(5px + calc(var(--value) / 6 * 1px)) var(--glow-color);
  transform: translateX(calc(-50% + 15px));
  filter: blur(5px) saturate(200%) url(#turbulence);
  transform-origin: center left;
}
main > div.inner input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 10;
}
main > div.inner input:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
main > div.inner output {
  color: var(--glow-color);
  position: relative;
  font-variant-numeric: slashed-zero tabular-nums;
  font-feature-settings: "tnum";
  font-size: 5em;
  font-weight: 500;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  position: absolute;
  z-index: 10;
  text-shadow: 0 0 2px black;
}
main > div.inner output:after {
  --glow-color-luminance: 80;
  --glow-color: color-mix(
    in lch,
    color(
      display-p3 0.99 0.71 0.18 / calc(var(--glow-color-opacity) * 1%)
    ),
    white calc(var(--glow-color-luminance) * 1%)
  );
  content: attr(data-value);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--glow-color);
  opacity: 1;
  filter: blur(calc(var(--value)/10*1px)) saturate(5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  mix-blend-mode: plus-lighter;
}

/* Config */
/* Pauls awesome mixin */
/*.particles-wrapper {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 45%;
  top: 97%;
  overflow: hidden;
  transform: rotate(90deg);
  trasnform-origin: center center;
  -webkit-mask-image: radial-gradient(circle, #000, transparent 70%);
          mask-image: radial-gradient(circle, #000, transparent 70%);
  opacity: calc(var(--value)/10);
  filter: brightness(500%);
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: 100px;
}

[class*=particle-] {
  border-radius: 10px;
  filter: blur(0.5px) saturate(200%) contrast(200%);
}

.particle-1 {
  -webkit-animation: animParticle calc(20s / calc(var(--value)/10)) linear infinite;
          animation: animParticle calc(20s / calc(var(--value)/10)) linear infinite;
  box-shadow: 0px 0px var(--glow-color), 106px 86px var(--glow-color), 63px 122px var(--glow-color), 86px 134px var(--glow-color), 103px 38px var(--glow-color), 72px 149px var(--glow-color), 114px 124px var(--glow-color), 36px 3px var(--glow-color), 10px 10px var(--glow-color), 80px 91px var(--glow-color), 103px 77px var(--glow-color), 52px 114px var(--glow-color), 124px 112px var(--glow-color), 145px 22px var(--glow-color), 41px 6px var(--glow-color), 67px 39px var(--glow-color), 141px 107px var(--glow-color), 93px 1px var(--glow-color), 107px 50px var(--glow-color), 13px 24px var(--glow-color), 76px 121px var(--glow-color), 3px 145px var(--glow-color), 129px 95px var(--glow-color), 57px 71px var(--glow-color), 101px 56px var(--glow-color), 1px 28px var(--glow-color), 7px 83px var(--glow-color), 89px 50px var(--glow-color), 140px 72px var(--glow-color), 63px 69px var(--glow-color), 136px 27px var(--glow-color), 40px 9px var(--glow-color), 130px 95px var(--glow-color), 69px 78px var(--glow-color), 89px 148px var(--glow-color), 126px 20px var(--glow-color), 92px 31px var(--glow-color), 147px 67px var(--glow-color), 47px 101px var(--glow-color), 74px 122px var(--glow-color), 55px 42px var(--glow-color), 126px 63px var(--glow-color), 53px 52px var(--glow-color), 87px 45px var(--glow-color), 3px 14px var(--glow-color), 84px 25px var(--glow-color), 139px 39px var(--glow-color), 104px 136px var(--glow-color), 25px 11px var(--glow-color), 7px 122px var(--glow-color), 17px 21px var(--glow-color), 26px 143px var(--glow-color), 133px 26px var(--glow-color), 82px 49px var(--glow-color), 58px 123px var(--glow-color), 124px 138px var(--glow-color), 26px 37px var(--glow-color), 65px 42px var(--glow-color), 111px 69px var(--glow-color), 75px 79px var(--glow-color), 76px 78px var(--glow-color), 123px 65px var(--glow-color), 92px 48px var(--glow-color), 140px 29px var(--glow-color), 28px 46px var(--glow-color), 58px 64px var(--glow-color), 29px 147px var(--glow-color), 21px 101px var(--glow-color), 63px 120px var(--glow-color), 72px 112px var(--glow-color), 122px 79px var(--glow-color), 38px 21px var(--glow-color), 90px 46px var(--glow-color), 40px 74px var(--glow-color), 51px 59px var(--glow-color), 89px 102px var(--glow-color), 74px 39px var(--glow-color), 87px 89px var(--glow-color), 104px 63px var(--glow-color), 116px 10px var(--glow-color), 57px 20px var(--glow-color), 107px 98px var(--glow-color), 81px 72px var(--glow-color), 91px 104px var(--glow-color), 47px 35px var(--glow-color), 73px 11px var(--glow-color), 43px 93px var(--glow-color), 65px 89px var(--glow-color), 12px 42px var(--glow-color), 124px 98px var(--glow-color), 74px 141px var(--glow-color), 39px 149px var(--glow-color), 71px 34px var(--glow-color), 111px 72px var(--glow-color), 40px 21px var(--glow-color), 5px 88px var(--glow-color), 80px 37px var(--glow-color), 132px 6px var(--glow-color), 76px 50px var(--glow-color), 107px 107px var(--glow-color), 126px 115px var(--glow-color);
  height: 1px;
  width: 1px;
}

.particle-1:after {
  box-shadow: 0px 0px var(--glow-color), 106px 144px var(--glow-color), 18px 111px var(--glow-color), 53px 108px var(--glow-color), 33px 128px var(--glow-color), 47px 16px var(--glow-color), 69px 144px var(--glow-color), 122px 8px var(--glow-color), 48px 36px var(--glow-color), 93px 23px var(--glow-color), 58px 59px var(--glow-color), 92px 78px var(--glow-color), 121px 77px var(--glow-color), 97px 92px var(--glow-color), 46px 141px var(--glow-color), 108px 11px var(--glow-color), 131px 79px var(--glow-color), 43px 2px var(--glow-color), 115px 133px var(--glow-color), 148px 48px var(--glow-color), 95px 126px var(--glow-color), 92px 101px var(--glow-color), 52px 15px var(--glow-color), 92px 52px var(--glow-color), 56px 70px var(--glow-color), 129px 15px var(--glow-color), 142px 68px var(--glow-color), 92px 109px var(--glow-color), 101px 78px var(--glow-color), 123px 124px var(--glow-color), 59px 114px var(--glow-color), 76px 62px var(--glow-color), 134px 111px var(--glow-color), 145px 85px var(--glow-color), 66px 122px var(--glow-color), 126px 10px var(--glow-color), 129px 126px var(--glow-color), 80px 8px var(--glow-color), 8px 94px var(--glow-color), 53px 146px var(--glow-color), 128px 108px var(--glow-color), 3px 148px var(--glow-color), 57px 109px var(--glow-color), 37px 148px var(--glow-color), 126px 147px var(--glow-color), 96px 89px var(--glow-color), 106px 84px var(--glow-color), 114px 82px var(--glow-color), 142px 7px var(--glow-color), 128px 141px var(--glow-color), 20px 39px var(--glow-color), 93px 134px var(--glow-color), 98px 82px var(--glow-color), 132px 113px var(--glow-color), 72px 88px var(--glow-color), 90px 81px var(--glow-color), 107px 63px var(--glow-color), 118px 21px var(--glow-color), 146px 81px var(--glow-color), 4px 2px var(--glow-color), 119px 18px var(--glow-color), 56px 59px var(--glow-color), 57px 136px var(--glow-color), 32px 146px var(--glow-color), 31px 94px var(--glow-color), 85px 92px var(--glow-color), 29px 16px var(--glow-color), 131px 3px var(--glow-color), 110px 105px var(--glow-color), 117px 55px var(--glow-color), 114px 62px var(--glow-color), 30px 29px var(--glow-color), 27px 47px var(--glow-color), 38px 148px var(--glow-color), 70px 3px var(--glow-color), 8px 113px var(--glow-color), 40px 114px var(--glow-color), 95px 15px var(--glow-color), 129px 103px var(--glow-color), 140px 37px var(--glow-color), 59px 2px var(--glow-color), 89px 14px var(--glow-color), 145px 52px var(--glow-color), 95px 126px var(--glow-color), 87px 96px var(--glow-color), 138px 58px var(--glow-color), 117px 40px var(--glow-color), 29px 86px var(--glow-color), 137px 56px var(--glow-color), 64px 130px var(--glow-color), 12px 130px var(--glow-color), 82px 113px var(--glow-color), 50px 92px var(--glow-color), 67px 44px var(--glow-color), 51px 9px var(--glow-color), 32px 11px var(--glow-color), 39px 124px var(--glow-color), 9px 27px var(--glow-color), 114px 1px var(--glow-color), 70px 73px var(--glow-color), 115px 146px var(--glow-color);
  height: 1px;
  width: 1px;
}

.particle-2 {
  -webkit-animation: animParticle calc(20s / calc(var(--value)/10)) linear infinite;
          animation: animParticle calc(20s / calc(var(--value)/10)) linear infinite;
  box-shadow: 0px 0px var(--glow-color), 62px 108px var(--glow-color), 134px 9px var(--glow-color), 131px 139px var(--glow-color), 3px 81px var(--glow-color), 138px 117px var(--glow-color), 108px 98px var(--glow-color), 51px 8px var(--glow-color), 19px 76px var(--glow-color), 58px 40px var(--glow-color), 75px 59px var(--glow-color), 138px 53px var(--glow-color), 53px 6px var(--glow-color), 104px 95px var(--glow-color), 108px 76px var(--glow-color), 121px 100px var(--glow-color), 138px 131px var(--glow-color), 144px 118px var(--glow-color), 119px 2px var(--glow-color), 77px 79px var(--glow-color), 22px 88px var(--glow-color), 111px 38px var(--glow-color), 62px 144px var(--glow-color), 17px 11px var(--glow-color), 141px 80px var(--glow-color), 84px 101px var(--glow-color), 69px 16px var(--glow-color), 83px 28px var(--glow-color), 63px 90px var(--glow-color), 83px 133px var(--glow-color), 25px 66px var(--glow-color), 109px 96px var(--glow-color), 97px 129px var(--glow-color), 88px 131px var(--glow-color), 60px 70px var(--glow-color), 135px 55px var(--glow-color), 147px 46px var(--glow-color), 148px 50px var(--glow-color), 39px 55px var(--glow-color), 88px 71px var(--glow-color), 28px 11px var(--glow-color), 95px 55px var(--glow-color), 111px 100px var(--glow-color), 4px 73px var(--glow-color), 7px 140px var(--glow-color), 76px 10px var(--glow-color), 149px 66px var(--glow-color), 22px 53px var(--glow-color), 64px 148px var(--glow-color), 116px 123px var(--glow-color), 141px 56px var(--glow-color), 108px 145px var(--glow-color), 31px 131px var(--glow-color), 136px 146px var(--glow-color), 130px 120px var(--glow-color), 109px 107px var(--glow-color), 95px 49px var(--glow-color), 104px 103px var(--glow-color), 120px 136px var(--glow-color), 50px 66px var(--glow-color), 37px 45px var(--glow-color), 52px 63px var(--glow-color), 78px 132px var(--glow-color), 142px 102px var(--glow-color), 77px 101px var(--glow-color), 116px 29px var(--glow-color), 41px 142px var(--glow-color), 96px 48px var(--glow-color), 120px 75px var(--glow-color), 17px 137px var(--glow-color), 118px 112px var(--glow-color), 24px 94px var(--glow-color), 60px 141px var(--glow-color), 143px 148px var(--glow-color), 71px 17px var(--glow-color), 67px 133px var(--glow-color), 119px 79px var(--glow-color), 107px 42px var(--glow-color), 81px 101px var(--glow-color), 80px 44px var(--glow-color), 139px 55px var(--glow-color), 102px 148px var(--glow-color), 98px 82px var(--glow-color), 40px 113px var(--glow-color), 81px 61px var(--glow-color), 31px 42px var(--glow-color), 78px 4px var(--glow-color), 55px 11px var(--glow-color), 41px 71px var(--glow-color), 109px 61px var(--glow-color), 93px 96px var(--glow-color), 63px 50px var(--glow-color), 28px 17px var(--glow-color), 105px 70px var(--glow-color), 36px 117px var(--glow-color), 122px 130px var(--glow-color), 4px 57px var(--glow-color), 82px 51px var(--glow-color), 144px 150px var(--glow-color), 110px 122px var(--glow-color), 50px 4px var(--glow-color);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  box-shadow: 0px 0px var(--glow-color), 98px 138px var(--glow-color), 22px 139px var(--glow-color), 16px 124px var(--glow-color), 72px 43px var(--glow-color), 41px 88px var(--glow-color), 8px 85px var(--glow-color), 22px 91px var(--glow-color), 47px 14px var(--glow-color), 143px 15px var(--glow-color), 48px 124px var(--glow-color), 105px 118px var(--glow-color), 26px 11px var(--glow-color), 107px 19px var(--glow-color), 43px 124px var(--glow-color), 54px 126px var(--glow-color), 60px 58px var(--glow-color), 34px 146px var(--glow-color), 116px 132px var(--glow-color), 91px 9px var(--glow-color), 145px 150px var(--glow-color), 117px 8px var(--glow-color), 47px 16px var(--glow-color), 40px 115px var(--glow-color), 45px 1px var(--glow-color), 9px 91px var(--glow-color), 116px 10px var(--glow-color), 123px 13px var(--glow-color), 147px 17px var(--glow-color), 125px 77px var(--glow-color), 76px 8px var(--glow-color), 1px 131px var(--glow-color), 38px 50px var(--glow-color), 109px 19px var(--glow-color), 97px 146px var(--glow-color), 17px 36px var(--glow-color), 100px 38px var(--glow-color), 29px 83px var(--glow-color), 15px 144px var(--glow-color), 141px 82px var(--glow-color), 69px 22px var(--glow-color), 118px 60px var(--glow-color), 29px 62px var(--glow-color), 36px 28px var(--glow-color), 97px 47px var(--glow-color), 111px 114px var(--glow-color), 34px 51px var(--glow-color), 34px 14px var(--glow-color), 5px 136px var(--glow-color), 69px 33px var(--glow-color), 120px 82px var(--glow-color), 71px 117px var(--glow-color), 74px 29px var(--glow-color), 150px 132px var(--glow-color), 114px 79px var(--glow-color), 83px 131px var(--glow-color), 84px 69px var(--glow-color), 116px 83px var(--glow-color), 28px 4px var(--glow-color), 130px 19px var(--glow-color), 136px 40px var(--glow-color), 112px 84px var(--glow-color), 86px 130px var(--glow-color), 118px 52px var(--glow-color), 135px 119px var(--glow-color), 9px 59px var(--glow-color), 17px 110px var(--glow-color), 110px 77px var(--glow-color), 149px 74px var(--glow-color), 123px 65px var(--glow-color), 136px 76px var(--glow-color), 138px 57px var(--glow-color), 108px 24px var(--glow-color), 75px 6px var(--glow-color), 142px 46px var(--glow-color), 72px 136px var(--glow-color), 76px 122px var(--glow-color), 129px 142px var(--glow-color), 97px 76px var(--glow-color), 139px 140px var(--glow-color), 101px 50px var(--glow-color), 121px 137px var(--glow-color), 55px 32px var(--glow-color), 44px 42px var(--glow-color), 113px 114px var(--glow-color), 15px 118px var(--glow-color), 44px 21px var(--glow-color), 75px 11px var(--glow-color), 149px 2px var(--glow-color), 104px 138px var(--glow-color), 81px 62px var(--glow-color), 78px 43px var(--glow-color), 66px 103px var(--glow-color), 121px 121px var(--glow-color), 64px 119px var(--glow-color), 48px 69px var(--glow-color), 58px 89px var(--glow-color), 18px 49px var(--glow-color), 56px 58px var(--glow-color), 23px 78px var(--glow-color), 100px 104px var(--glow-color);
  height: 2px;
  width: 2px;
}

.particle-4 {
  -webkit-animation: animParticle calc(20s / calc(var(--value)/10)) linear infinite;
          animation: animParticle calc(20s / calc(var(--value)/10)) linear infinite;
  box-shadow: 0px 0px var(--glow-color), 139px 76px var(--glow-color), 112px 22px var(--glow-color), 62px 82px var(--glow-color), 21px 68px var(--glow-color), 51px 89px var(--glow-color), 4px 104px var(--glow-color), 52px 44px var(--glow-color), 73px 121px var(--glow-color), 43px 136px var(--glow-color), 41px 78px var(--glow-color), 112px 74px var(--glow-color), 88px 82px var(--glow-color), 31px 42px var(--glow-color), 47px 31px var(--glow-color), 118px 92px var(--glow-color), 145px 64px var(--glow-color), 106px 74px var(--glow-color), 1px 121px var(--glow-color), 91px 63px var(--glow-color), 105px 25px var(--glow-color), 45px 113px var(--glow-color), 60px 104px var(--glow-color), 106px 20px var(--glow-color), 113px 8px var(--glow-color), 72px 23px var(--glow-color), 60px 67px var(--glow-color), 113px 96px var(--glow-color), 101px 124px var(--glow-color), 81px 18px var(--glow-color), 50px 124px var(--glow-color), 2px 92px var(--glow-color), 9px 116px var(--glow-color), 22px 55px var(--glow-color), 59px 56px var(--glow-color), 92px 131px var(--glow-color), 116px 117px var(--glow-color), 39px 81px var(--glow-color), 121px 3px var(--glow-color), 106px 96px var(--glow-color), 68px 7px var(--glow-color), 44px 101px var(--glow-color), 81px 135px var(--glow-color), 7px 101px var(--glow-color), 64px 109px var(--glow-color), 15px 139px var(--glow-color), 22px 81px var(--glow-color), 65px 22px var(--glow-color), 11px 18px var(--glow-color), 80px 107px var(--glow-color), 80px 99px var(--glow-color), 101px 96px var(--glow-color), 54px 49px var(--glow-color), 10px 125px var(--glow-color), 106px 90px var(--glow-color), 16px 17px var(--glow-color), 116px 26px var(--glow-color), 118px 61px var(--glow-color), 116px 18px var(--glow-color), 41px 149px var(--glow-color), 111px 78px var(--glow-color), 9px 62px var(--glow-color), 119px 76px var(--glow-color), 109px 130px var(--glow-color), 127px 128px var(--glow-color), 94px 10px var(--glow-color), 80px 61px var(--glow-color), 129px 64px var(--glow-color), 69px 107px var(--glow-color), 109px 16px var(--glow-color), 68px 17px var(--glow-color), 98px 141px var(--glow-color), 45px 77px var(--glow-color), 90px 124px var(--glow-color), 92px 4px var(--glow-color), 79px 59px var(--glow-color), 70px 122px var(--glow-color), 22px 57px var(--glow-color), 80px 35px var(--glow-color), 40px 104px var(--glow-color), 93px 95px var(--glow-color), 126px 127px var(--glow-color), 98px 61px var(--glow-color), 145px 117px var(--glow-color), 104px 147px var(--glow-color), 63px 74px var(--glow-color), 74px 9px var(--glow-color), 148px 72px var(--glow-color), 31px 80px var(--glow-color), 25px 99px var(--glow-color), 82px 1px var(--glow-color), 57px 117px var(--glow-color), 13px 62px var(--glow-color), 97px 94px var(--glow-color), 36px 98px var(--glow-color), 104px 36px var(--glow-color), 139px 49px var(--glow-color), 84px 109px var(--glow-color), 69px 141px var(--glow-color), 129px 43px var(--glow-color), 63px 68px var(--glow-color);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  box-shadow: 0px 0px var(--glow-color), 26px 29px var(--glow-color), 62px 5px var(--glow-color), 74px 139px var(--glow-color), 140px 132px var(--glow-color), 79px 54px var(--glow-color), 33px 8px var(--glow-color), 76px 111px var(--glow-color), 144px 72px var(--glow-color), 13px 78px var(--glow-color), 77px 15px var(--glow-color), 87px 70px var(--glow-color), 10px 113px var(--glow-color), 54px 99px var(--glow-color), 34px 130px var(--glow-color), 106px 25px var(--glow-color), 62px 45px var(--glow-color), 76px 95px var(--glow-color), 7px 82px var(--glow-color), 137px 123px var(--glow-color), 103px 142px var(--glow-color), 127px 4px var(--glow-color), 9px 62px var(--glow-color), 122px 39px var(--glow-color), 149px 118px var(--glow-color), 56px 7px var(--glow-color), 148px 50px var(--glow-color), 90px 4px var(--glow-color), 128px 132px var(--glow-color), 74px 12px var(--glow-color), 117px 117px var(--glow-color), 10px 119px var(--glow-color), 78px 53px var(--glow-color), 44px 78px var(--glow-color), 111px 69px var(--glow-color), 130px 73px var(--glow-color), 118px 79px var(--glow-color), 127px 106px var(--glow-color), 29px 100px var(--glow-color), 18px 41px var(--glow-color), 19px 118px var(--glow-color), 3px 45px var(--glow-color), 72px 102px var(--glow-color), 38px 83px var(--glow-color), 33px 47px var(--glow-color), 104px 96px var(--glow-color), 120px 137px var(--glow-color), 59px 45px var(--glow-color), 83px 55px var(--glow-color), 20px 47px var(--glow-color), 93px 144px var(--glow-color), 59px 47px var(--glow-color), 51px 100px var(--glow-color), 146px 117px var(--glow-color), 144px 14px var(--glow-color), 2px 58px var(--glow-color), 10px 149px var(--glow-color), 26px 87px var(--glow-color), 83px 1px var(--glow-color), 89px 39px var(--glow-color), 45px 89px var(--glow-color), 105px 5px var(--glow-color), 38px 146px var(--glow-color), 82px 23px var(--glow-color), 98px 99px var(--glow-color), 3px 144px var(--glow-color), 100px 32px var(--glow-color), 134px 94px var(--glow-color), 6px 128px var(--glow-color), 100px 89px var(--glow-color), 123px 89px var(--glow-color), 113px 88px var(--glow-color), 53px 112px var(--glow-color), 132px 14px var(--glow-color), 46px 105px var(--glow-color), 18px 40px var(--glow-color), 7px 14px var(--glow-color), 41px 69px var(--glow-color), 12px 70px var(--glow-color), 104px 67px var(--glow-color), 92px 92px var(--glow-color), 94px 87px var(--glow-color), 8px 30px var(--glow-color), 34px 86px var(--glow-color), 1px 41px var(--glow-color), 55px 76px var(--glow-color), 48px 6px var(--glow-color), 117px 75px var(--glow-color), 52px 54px var(--glow-color), 108px 98px var(--glow-color), 9px 114px var(--glow-color), 2px 9px var(--glow-color), 134px 120px var(--glow-color), 137px 74px var(--glow-color), 81px 134px var(--glow-color), 64px 120px var(--glow-color), 35px 122px var(--glow-color), 68px 104px var(--glow-color), 82px 26px var(--glow-color), 16px 52px var(--glow-color), 51px 119px var(--glow-color);
  height: 1px;
  width: 1px;
}

@-webkit-keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-200px);
  }
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-200px);
  }
}
svg {
  position: absolute;
}
